.letters {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.letter {
  &--used {
    color: red;
  }
  &--unused {
    color: green;
  }
  & a {
    text-decoration: none;
    color: inherit;
    font-size: 32px;
    margin-left: 5px;
    margin-right: 5px;
  }
}
